[submodule "src/fairino_camera/easy_handeye2/aruco_ros"]
	path = src/fairino_camera/easy_handeye2/aruco_ros
	url = https://github.com/AcidYoghurt/aruco_ros.git
[submodule "src/fairino_camera/easy_handeye2/easy_handeye2_demo"]
	path = src/fairino_camera/easy_handeye2/easy_handeye2_demo
	url = https://github.com/marcoesposito1988/easy_handeye2_demo.git
[submodule "src/fairino_camera/easy_handeye2/easy_handeye2"]
	path = src/fairino_camera/easy_handeye2/easy_handeye2
	url = https://github.com/marcoesposito1988/easy_handeye2.git
[submodule "src/fairino_camera/machinery_camera_drive/OrbbecSDK_ROS2"]
	path = src/fairino_camera/machinery_camera_drive/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
[submodule "src/fairino_control/fairino_machinery/frcobot_ros2"]
	path = src/fairino_control/fairino_machinery/frcobot_ros2
	url = https://github.com/AcidYoghurt/frcobot_ros2.git
